@using OnlineShop.Models
@{
    var db = new OnlineShopEntities();
    var setting = db.Settings.FirstOrDefault();
}
<div class="main-content col-12 col-md-7 col-lg-5 mx-auto">
    <div class="account-box">
        <a href="/" class="logo">
            <img src="@System.Configuration.ConfigurationManager.AppSettings["uploadwebpath"]@setting.WebsiteLogo" alt="">
        </a>
        <div class="account-box-title text-right">
            کد ارسال شده به شماره موبایل @ViewBag.mobile را وارد کنید
        </div>
        <div class="account-box-content">
            <form class="form-account" method="post" action="/Userlogin/main/verify" enctype="multipart/form-data">
                <div class="form-account-title">ارسال کد بازیابی</div>
                <input type="text" value="@ViewBag.mobile" style="display:none" name="mobile" />
                @Html.AntiForgeryToken()
                @{
                    if (ViewBag.error != null)
                    {
                        <div class="alert alert-danger">
                            @ViewBag.error
                        </div>
                    }
                }

                <div class="form-account-row">
                    <div style="text-align:center">
                        <div id="divOuter">
                            <div id="divInner">
                                <input autofocus id="partitioned" name="sms" type="text" maxlength="4" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-account-row form-account-submit hidden">
                    <div class="parent-btn">
                        <button class="dk-btn dk-btn-info submitBtn">
                            بازیابی رمز عبور
                            <i class="fa fa-key"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="account-box-footer">
            <span>کاربر جدید هستید؟</span>
            <a href="/userlogin/main/register" class="btn-link-border">
                ثبت‌نام در
                @setting.WebsiteName
            </a>
        </div>
    </div>
</div>
@section CSS{
    <style>
        #partitioned {
            padding-left: 7px;
            letter-spacing: 37px;
            border: 0;
            background-image: linear-gradient(to left, #cacacae8 70%, rgba(255, 255, 255, 0) 0%);
            background-position: bottom;
            background-size: 53px 2px;
            background-repeat: repeat-x;
            background-position-x: 35px;
            width: 220px;
            min-width: 220px;
            font-size: 25px;
            color: #545454;
            font-weight: bold;
            text-align: left !important;
            direction: ltr !important;
            outline: none;
        }

        #divInner {
            left: 0;
            position: sticky;
        }

        #divOuter {
            width: 190px;
            overflow: hidden;
            display: inline-block;
        }
    </style>
}
@section JS{
    <script>
        $(document).ready(function () {
            $('#partitioned').focus();
        })
        var obj = document.getElementById('partitioned');
        obj.addEventListener('keydown', stopCarret);
        obj.addEventListener('keyup', stopCarret);

        function stopCarret() {
            if (obj.value.length > 3) {
                setCaretPosition(obj, 3);
            }
        }

        function setCaretPosition(elem, caretPos) {
            if (elem != null) {
                if (elem.createTextRange) {
                    var range = elem.createTextRange();
                    range.move('character', caretPos);
                    range.select();
                }
                else {
                    if (elem.selectionStart) {
                        elem.focus();
                        elem.setSelectionRange(caretPos, caretPos);
                        alert
                        $('#submitForm').click()
                    }
                    else {
                        elem.focus();
                    }
                }
            }
        }
    </script>
    <script>

        $(document).on('keyup', '#partitioned', function () {
            var val = $(this).val().length;
            if (val == 4) {
                $('.submitBtn').click();
            }
        })
    </script>
}
