@using OnlineShop.Models;
@{
    var db = new OnlineShopEntities();
    int id = Convert.ToInt32(ViewBag.id);
    var properties = db.CatProperties.Where(r => r.catId == id).ToList();
    Layout = null;
}

<div class="col-md-12">
    @{
        if (properties.Count != 0)
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>عنوان</td>
                        <td>دسته بندی ویژگی</td>
                        <td>اولویت</td>
                        <td>نمایش در فیلتر دسته بندی</td>
                        <td>نمایش در ویژگی های اصلی</td>
                        <td>
                            حذف
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in properties)
                        {
                            <tr>
                                <td>
                                    <input name="title"  data-PropertyValue="@item.id" value="@item.title" class="form-control" />
                                </td>
                                <td>
                                    @{
                                        var catPropery = db.propertiesCategories.Where(r => r.id == item.category).FirstOrDefault();
                                        if (catPropery != null)
                                        {
                                            @catPropery.groupname
                                        }
                                    }
                                </td>
                                <td>
                                    <input name="priority" data-PropertyValue="@item.id" value="@item.priority" class="form-control" />
                                </td>
                                <td>
                                    <select name="showInFilter" class="form-control" data-PropertyValue="@item.id">

                                        @{

                                            if (item.showInFilter == true)
                                            {
                                                <option selected value="true">بله</option>
                                                <option value="false">خیر</option>
                                            }
                                            else
                                            {
                                                <option value="true">بله</option>
                                                <option selected value="false">خیر</option>
                                            }
                                        }
                                    </select>

                                </td>
                                <td>
                                    <select name="MainProperty" class="form-control" data-PropertyValue="@item.id">
                                        @{
                                            if (item.MainProperty == true)
                                            {
                                                <option selected value="true">بله</option>
                                                <option value="false">خیر</option>
                                            }
                                            else
                                            {
                                                <option value="true">بله</option>
                                                <option selected value="false">خیر</option>
                                            }
                                        }
                                    </select>
                                </td>
                                <td>
                                    <a href="javascript:;" class="btn btn-sm btn-clean btn-icon" title="حذف" data-role="remove" data-url="/admin/Categories/removeProperty/@item.id"> <span class="svg-icon svg-icon-md"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <rect x="0" y="0" width="24" height="24"></rect> <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero"></path> <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"></path> </g> </svg> </span> </a>
                                    <span class="btn btn-warning" id="submitPropertyEdit" data-propertyid="@item.id" mainid="@id">ثبت تغییرات</span>
                                </td>

                            </tr>
                        }
                    }
                </tbody>


            </table>
        }
        else
        {
            <span>
                هیچ ویژگی ثبت نشده است
            </span>
        }
    }

</div>
