@using System.Data.Entity
@using OnlineShop.Models
@using System.Globalization
@using System.Linq



@{
    var db = new OnlineShopEntities();
    var sliders = db.Sliders.Where(r => r.active == true).ToList();
    var discounts = db.Discounts.Where(r => r.percentage != null && r.status == 1 && r.expire > DateTime.Now).ToList();
    var productDiscount = new List<Product>();
    bool specialUser = false;
    var promotions = db.Promotions.Where(r => r.active == true).Take(2).ToList();
    var setting = db.Settings.FirstOrDefault();
    bool InstantOffer = false;
    var MostDiscounts = db.Discounts.Where(r => r.expire > DateTime.Now && r.status == 1).OrderByDescending(r => r.percentage).Take(20).ToList();
    var WatchBrands = db.watchBrands.ToList();
    var Services = db.Services.ToList();



    if (discounts.Count != 0)
    {
        foreach (var item in discounts)
        {
            var singleProduct = db.Products.Where(r => r.id == item.productId).FirstOrDefault();
            if (singleProduct != null)
            {
                productDiscount.Add(singleProduct);
            }
        }
    }
    var user = new User();
    if (Session["userLogin"] != null)
    {
        int userid = Convert.ToInt16(Session["userLogin"]);
        user = db.Users.Where(r => r.id == userid).FirstOrDefault();
        if (user != null && user.Special != null && user.Special == true)
        {
            specialUser = true;
        }
    }
    Layout = "~/views/shared/_Layout.cshtml";
    var banner = db.Banners.Where(r => r.active == true).FirstOrDefault();

}
<style>
    main.main section.banner img {
        box-shadow: 0 0 !important;
    }

    .card {
        box-shadow: 0 0;
    }

    .widget .card-header, .brand-slider .card-header {
        margin-bottom: 20px;
    }
</style>
<main class="main default">

<div class="">

<div class="row">
    <div class="col-xl-12 col-lg-12 col-12 order-1 order-lg-1">
        <section id="main-slider" class="main-slider carousel slide carousel-fade card hidden-mb" data-ride="carousel" style="">
            @*<ol class="carousel-indicators">
                        @{
                            if (sliders.Count != 0)
                            {
                                int counter = 0;
                                foreach (var item in sliders)
                                {
                                    string active = string.Empty;
                                    if (counter == 0)
                                    {
                                        active = "active";
                                    }
                                    <li data-target="#main-slider" data-slide-to="@counter" class="@active"></li>
                                    counter = counter + 1;
                                }
                            }
                        }
                    </ol>*@
            <div class="carousel-inner">
                @{
                    if (sliders.Count != 0)
                    {
                        int counter = 0;
                        foreach (var item in sliders)
                        {
                            string active = string.Empty;
                            if (counter == 0)
                            {
                                active = "active";
                            }
                            <div class="carousel-item @active">
                                <a class="main-slider-slide" href="@item.btnLink" style="background-image: url('@System.Configuration.ConfigurationManager.AppSettings["uploadwebpath"]@item.img')">
                                </a>
                            </div>
                            counter += 1;
                        }
                    }
                }
            </div>

            <div class="swiper-button-next">
                <i class="now-ui-icons arrows-1_minimal-right"></i>
            </div>

            <div class="swiper-button-prev">
                <i class="now-ui-icons arrows-1_minimal-left"></i>
            </div>
        </section>
        <section id="main-slider-res" class="main-slider carousel slide carousel-fade card d-none show-mb" data-ride="carousel">
            @*<ol class="carousel-indicators">
                        @{
                            if (sliders.Count != 0)
                            {
                                int counter = 0;

                                foreach (var item in sliders)
                                {
                                    string active = string.Empty;
                                    if (counter == 0)
                                    {
                                        active = "active";
                                    }
                                    <li data-target="#main-slider-res" data-slide-to="@counter" class="@active"></li>

                                    counter = counter + 1;
                                }
                            }
                        }
                    </ol>*@
            <div class="carousel-inner">
                @{
                    if (sliders.Count != 0)
                    {
                        int counter = 0;
                        foreach (var item in sliders)
                        {
                            string active = string.Empty;
                            if (counter == 0)
                            {
                                active = "active";
                            }
                            <div class="carousel-item @active">
                                <a class="main-slider-slide" href="@item.btnLink" style="background-image: url('@System.Configuration.ConfigurationManager.AppSettings["uploadwebpath"]@item.img')">
                                </a>
                            </div>
                            counter += 1;
                        }
                    }
                }
            </div>
            <a class="carousel-control-prev" href="#main-slider-res" role="button" data-slide="prev">
                <i class="now-ui-icons arrows-1_minimal-right"></i>
            </a>
            <a class="carousel-control-next" href="#main-slider-res" data-slide="next">
                <i class="now-ui-icons arrows-1_minimal-left"></i>
            </a>
        </section>
    </div>
    @*Two Banners*@
    @*<aside class="sidebar col-xl-4 col-lg-5 col-12 order-2 order-lg-2 pr-0 hidden-md">
                <div class="sidebar-inner default">
                    <div class="widget-banner widget card">
                        <a href="@banner.link1" target="_top">
                            <img class="img-fluid topBanner" src="@banner.banner1" alt="">
                        </a>
                    </div>
                    <div class="widget-banner widget card">
                        <a href="@banner.link2" target="_top">
                            <img class="img-fluid topBanner" src="@banner.banner2" alt="">
                        </a>
                    </div>
                </div>
            </aside>*@
    @*Two Banners*@
</div>
<section id="clock-repairs-form">
    <div class="row justify-content-center" style="background: #F9F9F9; height: 499px;">
        <div class="row">
            <img src="~/Theme/img/Group 31.png" style="width: 200px;height: 200px;position: relative;top: 229%;left: -76%;" />
            <img src="~/Theme/img/Group 24.png" style="width: 160px;height: 160px;position: relative;left: -88%;top: 50%;" />
            <img src="~/Theme/img/Group 26.png" style="position: relative;top: 192%;width: 100px;height: 100px;left: 99%;" />
            <img src="~/Theme/img/Group 27.png" style="width: 120px;height: 120px;position: relative;top: 20%;left: 105%;" />
            <img src="~/Theme/img/Group 30.png" style=" width: 106px;height: 106px;position: relative;top: 131%; left: 121%;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    " />
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 form-content">
            <div class="container">
                <div id="clock-repairs" class="clockRp">
                    <div style="padding: 30px;">
                        <div class="d-flex">
                            <span class="clock-rep-sp">
                                <img src="~/Theme/img/caticon.png" class="form-container-title-image" />
                            </span>
                            <h2 class="watch-title">تعمیرات ساعت</h2>
                        </div>
                        <h3 class="inquiry">استعلام قیمت تعمیرات ساعت</h3>
                        <div class="container mt-3" id="priceInquiry">
                            <div class="row">
                                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                    <div class="price-inquiry-guide-info">
                                        <h4 class="font-weight-bold">راهنمای استعلام قیمت</h4>
                                        <p class="text-muted">
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون
                                            بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف
                                            بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                    <div class="price-inquiry-guide-num">
                                        <h6>
                                            در صورت بروز مشکل یا نیاز به راهنمایی بیشتر، با شماره زیر تماس بگیرید
                                            <br />
                                            09123456789
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="container">
                            <div class="row">
                                <form action="" method="POST" style="width:100%;">
                                    <div style="margin-top:33px;">
                                        <div class="row">
                                            <div class="col-xl-4">
                                                <div class="form-group">
                                                    <label class="text-dark font-weight-bold" for="brand" style="font-size: 16px; ">برند ساعت</label>
                                                    <div class="select-form-watch">
                                                        <select class="form-control-watch">
                                                            <option>برند ساعت خود را انتخاب کنید</option>

                                                            @foreach (var item in WatchBrands)
                                                            {
                                                                <option value="@item.BrandId">@item.Title</option>
                                                            }

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="row">
                                                <div class="col-xl-4" style="margin-top: 10px;">
                                                    <div class="row px-3">
                                                        <div class="form-group">
                                                            <label class="text-dark font-weight-bold" for="brand" style="font-size: 16px;">مدل ساعت</label>
                                                            <div class="select-form-watch">
                                                                <select class="form-control-watch">
                                                                    <option>مدل ساعت خود را انتخاب کنید</option>
                                                                    <option value="AL">Alabama</option>
                                                                            <option value="NY">NewYork</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                            
                                                    <div class="col-xl-8">
                                                        <div class="form-group">
                                                            <label class="text-dark font-weight-bold" for="brand" style="font-size: 16px;">مشکل ساعت</label>
                                                            <div class="select-form-watch">
                                                                <select class="form-control-watch">
                                                                    <option>یکی از خدمات را انتخاب کنید</option>

                                                                    @foreach (var item in Services)
                                                                    {
                                                                        <option value="@item.ServiceId">@item.Title</option>
                                                                    }

                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row" style="padding: 11px 14px;">
                                                    <div class="form-group">
                                                        <label class="text-dark font-weight-bold" style="font-size: 15px;" for="brand">
                                                            شماره همراه شما
                                                        </label>
                                                        <div class="phone-number-form" style="display: flex; float:right">
                                                            <input id="telNo" name="telNo" type="tel" required="required" value="" placeholder="شماره همراه خود را بنویسید" />
                                                            <div class="idenNumber">09</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-8">
                                                <div class="">
                                                    <div class="form-group">
                                                        <label class="text-dark font-weight-bold" style="font-size:17px; margin-top: 9px">
                                                            توضیحات
                                                        </label>
                                                        <textarea id="w3review" name="w3review" rows="6" cols="50" placeholder="مشکل ساعت خود را بنویسید"></textarea>
                                                        <form action="#type your action here" method="POST" enctype="multipart/form-data">
                                                            <div id="fileBtn" onclick="getFile()">
                                                                <img src="~/Theme/img/paper-clip.png" />
                                                                بارگزاری تصویر

                                                            </div>
                                                            <div style='height: 0px;width:0px; overflow:hidden;'><input id="upfile" type="file" value="upload" /></div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row w-100">
                                        <div class="col-12 mt-4">
                                            <button class="continuebtn">استعلام</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




</main>

<script>
    function SelectBrand(sel) {
        BrandId = $(sel).children("option:selected").val();

        $.ajax({
            url: '/Hom/ListModel',
            method: "GET",
            data: { "id": BrandId },
            success: function (response) {
                console.log(response);
                if (response.length > 0) {
                    $('#ModelId').parent().removeClass("hidden");
                    $('#ModelId').html('');
                    var options = '';
                    options += '<option value="0">مدل ساعت خود را انتخاب کنید</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].Id + '">' + response[i].Title + '</option>';
                        console.log(response[i].Key);
                    }
                    console.log(options);
                    $('#ModelId').append(options);
                }
                else {

                    $('#ModelId').html('');
                    var options = '';
                    options += '<option value="0">مدل ساعت خود را انتخاب کنید</option>';
                    console.log(options);
                    $('#ModelId').append(options);
                    $('#ModelId').parent().addClass("hidden");
                    $('#ModelId').parent().addClass("hidden");

                }
            }
        });

    }



    function SelectModel(sel) {
        ModelId= $(sel).children("option:selected").val();

        $.ajax({
            url: '/Home/ListService',
            method: "GET",
            data: { "id": ModelId },
            success: function (response) {
                console.log(response);
                if (response.length > 0) {
                    $('#ServiceId').parent().removeClass("hidden");
                    $('#ServiceId').html('');
                    var options = '';
                    options += '<option value="0">یکی از خدمات را انتخاب کنید</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].Id + '">' + response[i].Title + '</option>';
                        console.log(response[i].Key);
                    }
                    console.log(options);
                    $('#ServiceId').append(options);
                }
                else {

                    $('#ServiceId').html('');
                    var options = '';
                    options += '<option value="0">یکی از خدمات را انتخاب کنید</option>';
                    console.log(options);
                    $('#ServiceId').append(options);
                    $('#ServiceId').parent().addClass("hidden");

                }
            }
        });

    }
</script>



<style>
</style>

@section JS{
    <script>

        $(document).ready(function () {
            $('.countDownClock').each(function () {
                var selected = $(this);
                var countDownDate = new Date($(this).attr('data-date')).getTime();
                // Update the count down every 1 second
                var x = setInterval(function () {

                    // Get today's date and time
                    var now = new Date().getTime();

                    // Find the distance between now and the count down date
                    var distance = countDownDate - now;

                    // Time calculations for days, hours, minutes and seconds
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                    if (days != 0) {
                        hours = hours + (days * 24)
                    }
                    if (hours != 0) {
                        $(selected).html(hours + ":" + minutes + ":" + seconds)

                    } else {
                        $(selected).html(minutes + ":" + seconds)

                    }
                    // If the count down is over, write some text
                    if (distance < 0) {
                        clearInterval(x);
                        $(selected).html("تمام شد");
                    }
                }, 1000);

            })
        })



    </script>



    <script>
        var swiper = new Swiper('.swiper-container-CountDown', {
            pagination: {
                el: '.swiper-pagination-CountDown',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            allowTouchMove: false,
            loop: true
        });
    </script>



    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.form-control-watch').select2();
            $('.form-control-watch').on('select2:open', function (e) {
                $('.select2-search__field').attr('placeholder', 'جستجو کنید');
            });
        });
    </script>

    <script>
        const prev = document.querySelector('.prev');
        const next = document.querySelector('.next');
        const images = document.querySelector('.carouselitem').children;
        const totalImages = images.length;
        let index = 0;

        prev.addEventListener('click', () => {
            nextImage('next');
        })

        next.addEventListener('click', () => {
            nextImage('prev');
        })

        function nextImage(direction) {
            if (direction == 'next') {
                index++;
                if (index == totalImages) {
                    index = 0;
                }
            } else {
                if (index == 0) {
                    index = totalImages - 1;
                } else {
                    index--;
                }
            }

            for (let i = 0; i < images.length; i++) {
                images[i].classList.remove('main');
            }
            images[index].classList.add('main');
        }
    </script>

    <script>
        function getFile() {
            document.getElementById("upfile").click();
        }
    </script>
}

<style>
    span.PostDate {
        position: absolute;
        left: 15px;
        bottom: 10px;
        font-size: 15px;
        color: #949494;
        font-weight: 400;
    }

    h1.blogPostTitle {
        font-size: 16px;
        line-height: 30px;
        margin: 11px;
        font-weight: 400;
    }

    .swiper-container-CountDown {
        width: 100%;
        /*height: 90%;*/
    }

    .statisticLink {
        height: auto !important;
    }

    .swiper-container-statistics {
        overflow: hidden;
    }

    .swiper-container-CountDown {
        text-align: center;
        font-size: 18px;
        background: #fff;
        Center: slide text vertically display: -webkit-box;
        /*     display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;*/
        display: block !important;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .timerSliderTitle {
        height: 40px !important;
        font-size: 13px;
        display: block;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 64px;
        line-height: 32px;
        height: 64px;
    }

    .widget-product .swiper-slide a.BlogPosts {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
        border-radius: 10px;
        max-width: 300px !important;
        height: 335px;
    }

    .swiper-container-CountDown.swiper-container-initialized.swiper-container-horizontal.swiper-container-rtl {
        overflow: hidden !important;
    }

    .BlogPosts > img {
        height: 190px
    }

    .timerSliderPrice {
        color: #979898;
        font-size: 13px;
        display: block;
        width: 100%;
    }

    .timerSliderImage {
        height: auto !important
    }

    .card-header {
        position: relative;
    }

    .progress {
        -webkit-animation: bar-fill 7s cubic-bezier(.17,.67,.71,.99) infinite;
        animation: bar-fill 7s cubic-bezier(.17,.67,.71,.99) infinite;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: -webkit-gradient(linear,left top,right top,from(#ffd3db),to(#fb3449));
        background: linear-gradient(90deg,#ffd3db,#fb3449);
        content: "";
    }

    .timerSliderMainTitle {
        border-bottom: none !important;
    }

    img.img-fluid.lazyload {
        height: 225px !important
    }

    .timerSliderMainTitle {
        font-size: 13px !important
    }

    .price.specialOfferPrice {
        padding: 0 23px;
    }

    h2.post-title.timerSliderTitle {
        padding: 0 10px;
    }

    .statisticsHeader {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: #656565;
        margin: 15px;
        margin-bottom: 40px
    }

    .statisticsSliderHeader {
        font-size: 14px;
        text-align: center;
        margin: 10px;
        font-weight: bold;
    }

    .statisticNumber {
        color: #01beda;
    }

    .statisticSlider {
        text-align: center;
    }

    .statisticsMainContainer {
        padding-bottom: 45px;
        overflow: hidden
    }

    @@media only screen and (min-width: 600px) {
        .specialOfferSlider {
            height: 385px !important;
        }

        .heightFixed > div {
            height: 440px
        }
    }

    @@media only screen and (max-width: 600px) {
        .widget-product .swiper-slide a {
            height: 220px !important;
            overflow: hidden
        }

        .swiper-slide.statisticSlider {
            height: 130px !important;
        }

        .widget-product .product-carousel .swiper-slide .post-title {
            height: 45px !important;
        }

        img.img-fluid.lazyload {
            height: auto !important;
            margin-bottom: 10px
        }

        .statisticsHeader {
            font-size: 12px !important;
        }

        .widget-product .swiper-slide img {
            max-width: 100%;
        }


        h1.blogPostTitle {
            font-size: 12px;
            font-weight: bold;
        }

        .widget-product .swiper-slide a.BlogPosts {
            max-width: none !important;
        }

        ins {
            padding: 5px;
        }

        .specialOfferPriceNumber {
            font-size: 19px;
        }

        .swiper-slide.SpecialOfferSlideContainer {
            height: 410px;
        }

        .swiper-slide.BlogPostsContainer > a {
            height: 300px !important;
        }
    }



    .widget-product .swiper-slide img {
        max-width: 100%;
    }

    .widget-product .swiper-slide a.BlogPosts {
        position: relative;
    }

    a.BlogPosts {
        text-align: center;
    }

    img.img-fluid.lazyload.SpecialOfferMainImage {
        height: auto !important;
    }

    @@media only screen and (min-width: 600px) {
        .specialOfferSlider > a > img {
            height: auto !important;
        }
        /*    .BlogPostsContainer {
                    margin: 0 10px;
                }*/
        .widget-product .swiper-slide a {
            height: 230px;
        }
    }
</style>

@functions{

    public static string GetMonthName(DateTime date)
    {
        PersianCalendar jc = new PersianCalendar();
        string pdate = string.Format("{0:0000}/{1:00}/{2:00}", jc.GetYear(date), jc.GetMonth(date), jc.GetDayOfMonth(date));

        string[] dates = pdate.Split('/');
        int month = Convert.ToInt32(dates[1]);

        switch (month)
        {
            case 1: return "فررودين";
            case 2: return "ارديبهشت";
            case 3: return "خرداد";
            case 4: return "تير‏";
            case 5: return "مرداد";
            case 6: return "شهريور";
            case 7: return "مهر";
            case 8: return "آبان";
            case 9: return "آذر";
            case 10: return "دي";
            case 11: return "بهمن";
            case 12: return "اسفند";
            default: return "";
        }

    }
    public static string GetDayOfMonth(DateTime date)
    {
        try
        {
            PersianCalendar jc = new PersianCalendar();
            return jc.GetDayOfMonth(date).ToString();
        }
        catch
        {
            throw new FormatException("The input string must be in 0000/00/00 format.");
        }
    }
    public static string GetYear(DateTime date)
    {
        try
        {
            PersianCalendar jc = new PersianCalendar();
            return jc.GetYear(date).ToString();
        }
        catch
        {
            throw new FormatException("The input string must be in 0000/00/00 format.");
        }
    }


}


