@using OnlineShop.Models
@{
    var db = new OnlineShopEntities();
    Layout = "~/views/shared/_layout.cshtml";
    var setting = db.Settings.FirstOrDefault();
    var userid = Convert.ToInt32(Session["userLogin"]);
    var user = db.Users.Find(userid);
    bool UserHasPassword = user.password != null;
}

<style>
    .passtrengthMeter .showPassword {
        right: calc(95% - 10px);
    }
</style>
<main class="profile-user-page default">

    <div class="container">
        <div class="row">
            <div class="profile-page col-xl-9 col-lg-8 col-md-12 order-2">

                <div class="row">
                    <div class="col-12">
                        <div class="col-12">
                            <h1 class="title-tab-content">اطلاعات شخصی</h1>
                        </div>
                        @{
                            if (ViewBag.error != null)
                            {
                                if (ViewBag.message != null)
                                {
                                    <div class="alert alert-danger" style="display:block">

                                        <p>@ViewBag.message</p>


                                    </div>}
                                if (ViewBag.error != null)
                                {
                                    <div class="alert alert-danger" style="display:block">
                                        <p>@ViewBag.Error</p>
                                    </div>}
                                <div class="content-section default">
                                    <div class="row">
                                        <div class="col-12">
                                            <h1 class="title-tab-content">تغییر رمزعبور</h1>
                                        </div>
                                    </div>
                                    <form class="form-account form-account" id="profileInfo" action="/userProfile/profile/changePassword" method="post">
                                        <div class="row">
                                            @Html.AntiForgeryToken()
                                            @if (UserHasPassword == true)
                                            {
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="col-md-6">
                                                        <div class="form-account-title">رمزعبور فعلی</div>
                                                        <div class="form-account-row">
                                                            <input class="input-field text-right" type="password" name="password" id="password" autocomplete="off">
                                                            <input type="hidden" value="@UserHasPassword.ToString()" name="UserHasPassword" />
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <input type="hidden" value="@UserHasPassword.ToString()" name="UserHasPassword" />
                                            }
                                            <div class="col-sm-12 col-md-12">
                                                <div class="col-md-6">
                                                    <div class="form-account-title">رمزعبور جدید</div>
                                                    <div class="form-account-row">
                                                        <input class="input-field text-right" type="password" id="newPassword" name="newPassword" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12 col-md-12">
                                                <div class="col-md-6">
                                                    <div class="form-account-title">تکرار رمزعبور جدید</div>
                                                    <div class="form-account-row">
                                                        <input class="input-field text-right" style="text-align:right !important" type="password" id="repassword" name="newPassword" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-12 text-center">
                                            <button class="btn btn-default btn-lg" type="submit">تغییر رمزعبور</button>
                                            <a href="/userProfile/profile/changeProfileInfo" class="btn btn-default btn-lg">انصراف</a>
                                        </div>
                                    </form>
                                </div>
                            }
                            else
                            {
                                if (ViewBag.success != null)
                                {
                                    <div class="alert alert-success">
                                       
                                            <p>@ViewBag.success</p>
                                        
                                    </div>
                                }
                                else
                                {
                                    <div class="content-section default">
                                        <div class="row">
                                            <div class="col-12">
                                                <h1 class="title-tab-content">تغییر رمزعبور</h1>
                                            </div>
                                        </div>
                                        <form class="form-account form-account" id="profileInfo" action="/userProfile/profile/changePassword" method="post">
                                            <div class="row">
                                                @Html.AntiForgeryToken()
                                                @if (UserHasPassword == true)
                                                {
                                                    <div class="col-sm-12 col-md-12">
                                                        <div class="col-md-6">
                                                            <div class="form-account-title">رمزعبور فعلی</div>
                                                            <div class="form-account-row">
                                                                <input class="input-field text-right" type="password" name="password" id="password"  autocomplete="off">
                                                                <input type="hidden" value="@UserHasPassword.ToString()" name="UserHasPassword" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                }
                                                else
                                                {
                                                    <input type="hidden" value="@UserHasPassword.ToString()" name="UserHasPassword" />
                                                }
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="col-md-6">
                                                        <div class="form-account-title">رمزعبور جدید</div>
                                                        <div class="form-account-row">
                                                            <input class="input-field text-right" type="password" id="newPassword" name="newPassword"  autocomplete="off">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="col-md-6">
                                                        <div class="form-account-title">تکرار رمزعبور جدید</div>
                                                        <div class="form-account-row">
                                                            <input dir="ltr" class="input-field text-right" type="password" name="newPassword" id="repassword" autocomplete="off">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-12 text-center">
                                                <button class="btn btn-default btn-lg" type="submit">تغییر رمزعبور</button>
                                                <a href="/userProfile/profile/changeProfileInfo" class="btn btn-default btn-lg">انصراف</a>
                                            </div>
                                        </form>
                                    </div>
                                }
                            }
                        }

                    </div>
                </div>
            </div>
            @RenderPage("~/Areas/UserProfile/Views/Shared/_SideBar.cshtml")
        </div>

        @RenderPage("~/Areas/UserProfile/Views/Shared/_recentViews.cshtml")




    </div>
</main>

@section JS{
    <script src="~/Scripts/jquery.passtrength.js"></script>
    <script src="~/Template/Login/JS/LoginService.js"></script>
    <script>

        $('#newPassword').passtrength({
            tooltip: true,
            textWeak: "ضعیف",
            textMedium: "متوسط",
            textStrong: "قوی",
            textVeryStrong: "خیلی قوی",
            passwordToggle: true,
            eyeImg: "/Assets/Images/eye.svg", // toggle icon
            minChars: 5
        });
        $('#repassword').passtrength({
            tooltip: false,
            passwordToggle: true,
            eyeImg: "/Assets/Images/eye.svg", // toggle icon
            minChars: 5
        });
        $('#password').passtrength({
            tooltip: false,           
            passwordToggle: true,
            eyeImg: "/Assets/Images/eye.svg", // toggle icon
            minChars: 5
        });

        //document.getElementById('card').addEventListener('input', function (e) {
        //    if ($(this).val().length < 15) {
        //        e.target.value = e.target.value.replace(/[^\dA-Z]/g, '').replace(/(.{4})/g, '$1-').trim();
        //    }
        //});
        changeMenu('profile')
    </script>
}
