@using OnlineShop.Models;
@{
    Layout = null;
    OnlineShopEntities db = new OnlineShopEntities();

    var Model = db.Users.ToList();
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Export</title>
</head>
<body>
    <table id="tbl" style="display:none">
        <thead>
            <tr>
                <th>ID</th>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>تاریخ تولد</th>
                <th>جنسیت</th>
                <th>آدرس</th>
                <th>موبایل</th>
                <th>کد ملی</th>
                <th>ایمیل</th>
                <th>شماره کارت</th>
                <th>تاریخ ایجاد</th>

            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {

                  
                        <tr>
                            <td>@item.id</td>
                            <td>@item.firstName</td>
                            <td>@item.lastName</td>
                            <td>@item.birth</td>
                            <td>@item.gender</td>
                            <td>@item.address</td>
                            <td>@item.mobile</td>
                            <td>@item.codeMeli</td>
                            <td>@item.email</td>
                            <td>@item.card</td>
                            <td>
                                @{
                                    if (item.CreationDate != null)
                                    {
                                        DateTime dt = Convert.ToDateTime(item.CreationDate);
                                        System.Globalization.PersianCalendar PC = new System.Globalization.PersianCalendar();
                                        string pcDate = PC.GetYear(dt).ToString() + "/" + PC.GetMonth(dt).ToString() + "/" + PC.GetDayOfMonth(dt).ToString();
                                        string pcDate1 = PC.GetHour(dt).ToString() + ":" + PC.GetMinute(dt).ToString() + ":" + PC.GetSecond(dt).ToString();
                                        <span>@pcDate</span>
                                    }
                                }
                            </td>
                        </tr>

                    

                }
            }
        </tbody>
    </table>



    <script type="text/javascript" src="/newScripts/js/jquery.min.js"></script>

    <script type="text/javascript" src="/newScripts/js/table2excel.js"></script>

    <script>
        $(document).ready(function () {
            var d = new Date($.now());
            var day = d.getDate()
            var m = d.getUTCMonth() + 1
            var y = d.getFullYear()
            $("#tbl").table2excel({
                filename: "لیست کاربران -" + y + "-" + m + "-" + day + ".xls"
            });
        })


    </script>

</body>
</html>
