@using OnlineShop.Models
@{
    var db = new OnlineShopEntities();
    ViewBag.Title = "Create";
    Layout = null;
    User mymodel;
    if (Model==null)
    {
        var UserId = int.Parse(Session["UserId"].ToString());
        mymodel = db.Users.SingleOrDefault(q => q.id == UserId);
    }
    else
    {
        mymodel = Model;
    }
}

<style>
    .passtrengthMeter .showPassword {
        right: calc(95% - 10px) !important;
    }
</style>
<!--begin::Subheader-->
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-2">
            <!--begin::Page Title-->
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">تغییر رمز</h5>
            <!--end::Page Title-->
            <!--begin::Actions-->
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>

        </div>
        <!--end::Info-->
        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">
            <!--begin::Actions-->
            @*<a href="#" class="btn btn-clean btn-sm font-weight-bold font-size-base mr-1">Today</a>
                <a href="#" class="btn btn-clean btn-sm font-weight-bold font-size-base mr-1">Month</a>
                <a href="#" class="btn btn-clean btn-sm font-weight-bold font-size-base mr-1">Year</a>*@
            <!--end::Actions-->
            <!--begin::Daterange-->
            @*<a href="#" class="btn btn-sm btn-light font-weight-bold mr-2" id="kt_dashboard_daterangepicker" data-toggle="tooltip" title="" data-placement="left" data-original-title="Select dashboard daterange">
                    <span class="text-muted font-size-base font-weight-bold mr-2" id="kt_dashboard_daterangepicker_title">Today:</span>
                    <span class="text-primary font-size-base font-weight-bolder" id="kt_dashboard_daterangepicker_date">Aug 11</span>
                </a>*@
            <!--end::Daterange-->

        </div>
        <!--end::Toolbar-->
    </div>
</div>
<!--end::Subheader-->
<!-- end:: Content Head -->
<div class="kt-content  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-md-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    @*<h3 class="kt-login__title">فرم تغییر پسورد </h3>*@
                </div>
                @if (ViewBag.message != null)
                {
                    <div class="alert alert-danger" style="display:block">
                        @if (ViewBag.message != null)
                        {
                            for (int i = 0; i < ViewBag.message.Count; i++)
                            {
                                <p>@ViewBag.message[i]</p>
                            }
                        }

                    </div>}
                @if (ViewBag.error != null)
                {
                    <div class="alert alert-danger" style="display:block">
                        @if (ViewBag.Error != null)
                        {
                            for (int i = 0; i < ViewBag.Error.Count; i++)
                            {
                                <p>@ViewBag.Error[i]</p>
                            }
                        }

                    </div>}

            <form class="kt-form myForm" id="myform" action="/admin/adminusers/index" method="post">
                <div class="form-group">
                    <label>نام کاربری</label><br />
                    <input class="form-control text-left" style="direction:ltr !important" type="text" readonly placeholder="نام کاربری" value="@(mymodel.Username==null?null:mymodel.Username)" name="Username" autocomplete="off">
                    @Html.AntiForgeryToken()
                </div>
                @if (mymodel.IsResetPassword == true)
                {
                    <div class="form-group">
                        <label>رمز عبور ست شده از طرف ادمین</label>
                        <input class="form-control text-left" style="direction:ltr !important" type="password" placeholder="رمز عبور ست شده از طرف ادمین" name="OldPassword" id="OldPassword">
                    </div> }
                else
                {
                    <div class="form-group">
                        <label>رمز عبور قبلی</label><br />
                        <input class="form-control text-left" style="direction:ltr !important" type="password" placeholder="رمز عبور قبلی" name="OldPassword" id="OldPassword">
                    </div>}

                <div class="form-group">
                    <label>رمز عبور جدید</label><br />
                    <input class="form-control text-left" style="direction:ltr !important" type="password" placeholder="رمز عبور جدید" name="NewPassword" id="NewPassword">
                </div>
                <div class="form-group">
                    <label>تکرار رمز عبور </label><br />
                    <input class="form-control text-left" style="direction:ltr !important" type="password" placeholder="تکرار رمز عبور " name="RepeatPassword" id="RepeatPassword">
                </div>

                <div class="form-group col-md-6 col-lg-6">
                    <img style="height: calc(1.5em + 1.3rem + 20px);" class="form-control" src="@Url.Action("CaptchaImage")" alt="captcha" />

                    <input class="form-control" style="direction:ltr !important" type="text" placeholder="پسورد امنیتی" name="captcha" id="captcha" autocomplete="off">

                </div>
                <div class="kt-login__actions">
                    <button class="btn btn-primary">ثبت</button>
                </div>

            </form>
            </div>

        </div>

    </div>
</div>
<link href="~/Template/css/passtrength.css" rel="stylesheet" />
<script src="~/Scripts/jquery.passtrength.js"></script>
<script>
    $('#NewPassword').passtrength({
        tooltip: true,
        textWeak: "ضعیف",
        textMedium: "متوسط",
        textStrong: "قوی",
        textVeryStrong: "خیلی قوی",
        passwordToggle: true,
        eyeImg: "/Assets/Images/eye.svg", // toggle icon
        minChars: 5
    });
    $('#RepeatPassword').passtrength({
        tooltip: true,
        textWeak: "ضعیف",
        textMedium: "متوسط",
        textStrong: "قوی",
        textVeryStrong: "خیلی قوی",
        passwordToggle: true,
        eyeImg: "/Assets/Images/eye.svg", // toggle icon
        minChars: 5
    });
    titlePage('ایجاد ادمین جدید')
    $(document).ready(function () {
        console.log("ready!");
    });
    var errormessage = "";
    var submit = false;
    var validationresult = true;
    $(document).on('submit', '#myform', function (event) {

        //console.log("check=" + CheckValidation());
        //console.log("submit=" + submit);

        if (submit == true) {
            submit = false;
            return;
        }
            else
                event.preventDefault();
                var data = {
                    "oldpass": $('#OldPassword').val(),
                    "newpass": $('#NewPassword').val(),
                    "captcha": $('#captcha').val(),
                    "username": "@mymodel.Username",
                }
                var validationresult = CheckValidation();
                if (validationresult == true) {
                    $("#errorshow").html("");
                    $("#errorshow").addClass('hidden');
                    $.ajax({
                        type: "POST",
                        url: '/admin/adminusers/CheckPassword',
                        data: data,
                        success: function (result) {
                             
                            if (result.Result == true) {
                                submit = true;
                                $("#myform").submit();
                            }
                            else {

                                errormessage = result.Message;
                                toastr.error(result.Message);
                                submit = false;
                                return;
                            }
                        }
                    });



                }
                else {
                    event.preventDefault();
                    toastr.error(errormessage);
                }
                   

        });


    function CheckValidation() {

        errormessage = "";
        validationresult = true;
        if ($("#OldPassword").val() == "") {
            errormessage += "رمز عبور قدیمی را وارد کنید.<br>";
            validationresult = false;
        }
        if ($("#NewPassword").val() == "") {
            errormessage += "رمز عبور جدید را وارد کنید.<br>";
            validationresult = false;
        }
        else if ($("#RepeatPassword").val()=="") {
            errormessage += "تکرار رمز عبور جدید را وارد کنید.<br>";
            validationresult = false;
        }
        else if ($("#NewPassword").val().length > 0 && $("#RepeatPassword").val() != $("#NewPassword").val()) {
            errormessage += "تکرار رمز با رمز عبور همخوانی ندارد..<br>";
            validationresult = false;
        }    
        if (validationresult == false)
            return false;
        return validationresult;

    }

    
</script>